<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>首頁</title>
    <link rel="stylesheet" href="index.css">
</head>
<header>
    <h1>Youtube Downloader</h1>
</header>
    
<body>
    <h1 class="morning"><b>{{ id }}</b> 您好!</h1>
    <nav>
        <ul>
            <section class="download"><li><a href="/download">點我下載</a></li></section>
            <section class="play"><li><a href="/play">點我觀看</a></li></section>
            <section class="game"><li><a href="/game">點我玩遊戲</a></li></section>
            <section class="logout"><li><a href="/logout">登出</a></li></section>
        </ul>
    </nav>
</body>
</html>
