<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
</head>
<body>
     
    <h1>輸入id</h1>
    <form actoin="/login" method="get">
    <input name="uuid" width="5000" aria-grabbed="true" type="text" size="80%" title="id">
    <input name="summit" type="submit" >
    </form><br>
    <h1><a href="/register">點此註冊</a></h1>
    <h1><a href="/game">點此玩遊戲</a></h1>
    <h1><a href="/findcode">忘記id?</a></h1>

    
</body>