<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
</head>
<body>
<form actoin="/register" method="get">
    <h1>輸入您的名稱</h1>
    <input name="name" width="5000" aria-grabbed="true" type="text" size="80%" title="id">
    <h1>輸入您的email</h1>
    <input name="mail" width="5000" aria-grabbed="true" type="mail" size="80%" title="id">
    <input name="summit" type="submit" >
    </form><br>
</body>